@import url('https://fonts.googleapis.com/css2?family=Freckle+Face&family=Gabarito:wght@400..900&family=Lilita+One&family=Luckiest+Guy&family=Syne+Mono&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  @apply bg-[#030303] bg-no-repeat bg-center bg-fixed;
  @apply backdrop-blur-lg transition ease-in-out;
}

body {
  @apply font-sans m-0 p-0 text-white;
  color: var(--foreground);
  background: var(--background);
}

.light {
  @apply bg-cover bg-no-repeat bg-center bg-fixed;
  
  @apply text-[#6a5252] bg-white;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}


